@using TicariOtomasyon.Models.Entities
@model List<Kategori>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int sayac = 1;
}
<br />
<h2>Kategoriler</h2>
<br />
<a class="btn btn-primary" href="/Kategori/KategoriEkle/">Yeni Kategori Ekle</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Sıra No</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@sayac</td>
            <td>@item.KategoriAd</td>
            <td><a class="btn btn-danger" href="/Kategori/KategoriSil/@item.KategoriId">Sil</a></td>
            <td><a class="btn btn-success" href="/Kategori/KategoriGetir/@item.KategoriId">Güncelle</a></td>
        </tr>
        sayac++;
    }
</table>