@using TicariOtomasyon.Models.Entities
@model List<Departman>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    int sayac = 1;
}
<br />
<h2>Departmanlar</h2>
<br />
<div class="row justify-content-between">
    <div class="col-4">
        <a class="btn btn-primary" href="/Departman/DepartmanEkle/">Yeni Departman Ekle</a>
    </div>
    <div class="col-4 flex-row-reverse d-flex">
        <a class="btn btn-success" href="/Departman/SilinenDepartmanlar/">Silinen Departmanlar</a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Sıra No</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@sayac</td>
            <td>@item.DepartmanAdi</td>
            <td><a class="btn btn-danger" href="/Departman/DepartmanSil/@item.Id">Sil</a></td>
            <td><a class="btn btn-success" href="/Departman/DepartmanGetir/@item.Id">Güncelle</a></td>
            <td><a class="btn" style="background: lightcoral; color: white" href="/Departman/DepartmanDetay/@item.Id">Detay</a></td>
        </tr>
        sayac++;
    }
</table>